@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-primary: var(--ui-color-primary-600);
  --ui-secondary: var(--ui-color-secondary-500);
  --ui-success: var(--ui-color-success-400);
  --ui-info: var(--ui-color-info-500);
  --ui-warning: var(--ui-color-warning-500);
  --ui-error: var(--ui-color-error-500);

  --ui-header-height: --spacing(24);
}

.dark {
  --ui-primary: var(--ui-color-primary-600);
  --ui-secondary: var(--ui-color-secondary-500);
  --ui-success: var(--ui-color-success-700);
  --ui-info: var(--ui-color-info-900);
  --ui-warning: var(--ui-color-warning-500);
  --ui-error: var(--ui-color-error-500);
}

@theme {
  --font-sans: "Urbanist", system-ui, sans-serif;
}
